<div class="container-xxl my-md-4 bd-layout">
  <aside class="bd-sidebar">
    <!--Barra de navegación-->
    <nav class="collapse bd-links">
      <ul class="list-unstyled mb-0 py-3 pt-md-1">
        <li >
          <button class="btn d-inline-flex align-items-center rounded"  data-bs-toggle="collapse" data-bs-target="#python-collapse" aria-expanded="false">
            Python
          </button>
          <div id="python-collapse" class="collapse">
            <ul class="list-unstyled fw-normal pb-1 small">
              <li class="mb-1">
                <a class="d-inline-flex align-items-center rounded" href="/">
                  Pandas
                </a>
              </li>
              <li>
                <a class="d-inline-flex align-items-center rounded">
                  Matplotlib
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li >
          <button class="btn d-inline-flex align-items-center rounded"  data-bs-toggle="collapse" data-bs-target="#statistics-collapse" aria-expanded="false">
            Statistics
          </button>
          <div id="statistics-collapse" class="collapse">
            <ul class="list-unstyled fw-normal pb-1 small">
              <li class="mb-1">
                <a class="d-inline-flex align-items-center rounded" href="/">
                  xxxxx
                </a>
              </li>
              <li>
                <a class="d-inline-flex align-items-center rounded">
                  xxxxxx
                </a>
              </li>
            </ul>
          </div>
          
        </li>
      </ul>
    </nav>
  </aside>
  <main class="bd-main order-1">
  <!--Contenido de los artículos-->
  </main>
</div>
