name: Deploy de la página

on:
  push:
    branches:
      - main

jobs:
  deploy-page:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages #La rama a la que la acción debería desplegar
          folder: . #La carpeta que la acción debería desplegar